%p
  Yo bitches!

%p
  = "#{@author} has sent you a motherflipping message on Yaktracker! Don't you feel special!  Special like wolf food!"

%p
  Here's the stupid message:

%p
  = "\"#{@content}\""

%p
  Awwww, isn't that just lovely.  RELEASE THE WOLVES!

%p
  Love, Yaktracker.
