.main
  %h1 Are we there yet?
  %p
    The map below shows Dave and Doug's last known location.  Check back from time
    to time to see how they are progressing.  The blue line represents their planned
    route, while the black line is their current route.  Green markers are cities they
    have checked in at. Red markers are your guesses!  Click on them to see personal
    messages of encouragement or hatred for Dave and Doug.

  = gmaps(@map_options)
